<div class="mb-5">
  <div class="form-group">
    <label for="title">Title</label>
    <input #title
           name="title"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="rentalPrice">Rental Price</label>
    <input #rentalPrice
           type="number"
           name="rentalPrice"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="rentalDays">Rental Days</label>
    <select #rentalDays
            name="rentalDays"
            class="form-control">
      <option [value]="2">2</option>
      <option [value]="3">3</option>
      <option [value]="5">5</option>
    </select>
  </div>
  <input type="button"
         class="btn btn-success"
         value="Add my movie"
         (click)="add(title, rentalPrice, rentalDays)">
</div>
